.navigation {
  width: 100%;
  background-color: white;
  height: 70px;
  border-bottom: 1px solid #e9e9eb;
}

.navigationContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.navigationContent > p {
  margin: 0;
  color: #5d606e;
}

.navigationCart {
  font-weight: bold;
  cursor: pointer;
}

.navigationCartQuantity {
  color: white;
  padding: 4px 12px;
  background-color: #60b246;
  margin-right: 6px;
}

.navigationLogo {
  width: 70px;
  height: auto;
}

@media (min-width: 1200px) {
  .navigationContent {
    margin: 0 100px;
  }
}
