.card {
  width: 250px;
  height: auto;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.cardContent {
  color: #282c3f;
}

.cardContent > h1 {
  font-size: 18px;
}

.cardContent > p {
  font-size: 14px;
  color: #686b78;
}

.cardXtras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  border-bottom: 1px solid #e9e9eb;
}

.cardRating {
  color: white;
  padding: 2px 5px;
}

.cardRating > span {
  margin-right: 5px;
}

.cardCoupons {
  color: #8a584b;
}

.cardCoupons > h2 {
  font-size: 14px;
  font-weight: 400;
}
